// Color Themes
$navcolor: #3e3c3c;
$offwhite: #f4f5f7;
$fullwhite: #fff;
$orange: #f55800;
$hoverOrange: #fff5e1;
$pressedButtonTextColor: #f4f1f0;
$darkBlueText: #091e42;
$bottomBlueText: #262626;
$textareaPlaceholderColor: #3c3a39;
$inputPlaceholderColor: #979493;
$footerDividerColor: #dfe1e6;
$footerIconColor: #505f79;
$recentWorksDivider: #212121;
// Font Themes
$inter: 'Inter', sans-serif;
$creteRound: 'Crete Round', sans-serif;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

.navbar {
  padding: 1rem 3rem;
  background-color: $navcolor;
}

.navbar-light-color {
  color: $fullwhite;
}

.navbar-nav {
  .nav-item {
    display: flex;
    align-items: center;

    .nav-link {
      color: $fullwhite;
    }
  }
}

.email {
  background-image: url(../img/email.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 22px;
}

body {
  font-family: $inter;
}

.bottom-icons {
  justify-content: center;
}

.welcome {
  background-color: black;

  div {
    h1 {
      color: $orange;
    }

    h2 {
      color: white;
    }

    p {
      color: $offwhite;
    }

    ul {
      li {
        a {
          color: $offwhite;
        }
      }
    }
  }
}

.works-title,
.first-work {
  div {
    h2,
    h3,
    p {
      color: $darkBlueText;
    }
  }
}

.tags {
  color: white;
  list-style: none;
  display: flex;
  padding: 1rem;
  align-items: flex-end;
}

.list-group-horizontal {
  .list-group-item {
    .list-group-item {
      border-top-width: 1px;
      border-left-width: 0;
      margin: 2px;
      border-top-right-radius: 0;
    }
  }
}

#card-text {
  color: $fullwhite;
}

.about-me {
  background-color: black;
}

.skills {
  color: $fullwhite;
  background-color: black;
}

.about-header {
  color: $orange;
}

.about-text {
  color: $fullwhite;
}

.skill-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
